.footer-custom {
   background-color: #002f6c;
   padding: 8px 0;
   font-size: 0.75rem;
}

.footer-custom h6 {
   font-size: 0.8rem;
   margin: 0;
   padding: 2px 0;
}

.footer-custom p {
   margin: 2px 0;
   font-size: 0.75rem;
   color: #ccc;
}

.footer-custom a {
   color: #fff;
   font-size: 0.8rem;
}

.footer-custom a:hover {
   color: #ffd700;
}

.footer-custom i {
   font-size: 0.9rem;
}